html {
  scroll-snap-type: y mandatory;
}

.app {
  width: 100vw;
  height: 100vh;

  background: black;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.app__videos {
  width: 80%;
  max-width: 500px;
  height: 80%;

  margin-top: 3rem;
  
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__videos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
